
.container{
    width: 1440px;
    margin: 0 auto;
}
h2{
    font-size: 32px;
    color: #8D6481;
    margin-bottom: 25px;
    font-weight: bold;
}
p{
    font-size: 20px;
    color: #000101;
    line-height: 30px;
    font-style: normal;
}
/* hero-section */
.hero-section{
    background-image: url(images/Hero.png);
    background-repeat: no-repeat;
    width: 100%;
    min-height: 484px;
}
.hero-section .media{
    margin-left: 44px;
    /* margin-top: 15px; */
    padding-top: 15px;
}
/* our approach section */
.our-approach .content{
    display: flex;
    gap: 50px;
    padding-right: 140px;
}
.our-approach .content .row-2{
     margin-top: 100px; 
}

/* platform and capabilities */
.platform{
    background-image: url(images/platformbg.png);
}
.platform .content h2{
    padding-top: 100px;
    margin-left: 140px;
}
.platform .content p{
    margin: 0px 725px 50px 140px;
}
.platform .content .media{
    padding-left: 140px;
    padding-bottom:100px;
}
/* pipeline */
.pipeline .content .col-1{
    display: flex;
}
.pipeline .content .col-1 .row-1{
    /* padding-top: 100px;
    padding-left: 140px; */
    padding: 100px 135px 50px 140px;
}
.pipeline .content .col-2{
    display: flex;
    gap: 165px;
    padding-left:250px ;
}
.pipeline .content .col-2 h3{
    color: black;
    font-size: 20px;
    font-weight: bold;
}
.pipeline .content .col-3{
    width: 1160px;
    height: 1px;
    background-color: #000101;
    display: inline-block; 
    margin-left: 140px;
    margin-bottom:20px ;
    margin-top: 20px;
}
.pipeline .content .content-drop .col-4{
    padding-left: 140px;
    padding-right: 140px;
}

.pipeline .content .content-drop .col-4 .head{
    display: flex;
    align-items: center;

}
.pipeline .content .content-drop .col-4 .head img{
    width: 26px;
    height: 26px;
}
.pipeline .content .content-drop .col-4 .discription{
   padding-left: 45px;

}
.pipeline .content .content-drop .col-4 .head h4{
  padding-left: 20px;
  padding-right: 150px;
}