*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.container{
    max-width: 500px;
    text-align: center;
    margin: auto;
    padding: 50px;
    background-color:#fffafa;


}

.container img{
    height: 100px;
    width: 100px;
}
.container p{
    margin: 25px;
    font-size: 20px;
    line-height: 22px;
}
.container h1{
    margin-top: 20px;
    font-weight: bold;
}
a{
    font-size: 24px;
    color: #3944BC;
    font-weight: bold;
}